# ===============================
# Jupyter/可視化/補助ライブラリ
# ===============================
jupyter
matplotlib
seaborn
plotly

# ===============================
# その他の実験用パッケージ
# ===============================
ipywidgets
scipy
tqdm
notebook

# ===============================
# ※Airflow本番環境や本番ML環境に不要なものだけ記載
# ===============================
