# ===============================
# 📦 DB 接続ライブラリ
# ===============================
psycopg2-binary==2.9.9

# ===============================
# 🤖 強化学習・深層学習
# ===============================
torch==2.3.1
tensorflow-cpu==2.15.1
tensorboard==2.15.1

# ===============================
# 🧠 LLM & ハイパーパラメータ最適化
# ===============================
transformers==4.40.2
optuna==3.5.0
sb3-contrib==2.2.1
scikit-optimize==0.10.2

# ===============================
# 🎮 強化学習 環境依存
# ===============================
stable-baselines3==2.2.1
gymnasium[classic_control]==0.28.1
gym==0.26.2
shimmy==1.2.0

# ===============================
# 💹 ファイナンス・データ取得
# ===============================
yfinance==0.2.62
multitasking==0.0.11
