# airflow_docker/requirements.txt

# Airflow Core
apache-airflow==2.8.4
sqlalchemy==2.0.30
psycopg2-binary==2.9.9

# AI / Deep Learning
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.1+cpu
tensorflow-cpu==2.15.0
tensorboard==2.15.1
transformers==4.40.2

# Reinforcement Learning / Optimization
optuna==3.6.1
stable-baselines3==2.2.1
gymnasium==0.28.1
shimmy==1.2.0
celery[postgresql]==5.3.6

# Data & Statistics
pandas==2.3.0
numpy==1.26.4
scikit-learn==1.4.2
statsmodels==0.14.1

# Market / External API
yfinance==0.2.62
requests==2.31.0
beautifulsoup4==4.12.3
lxml==5.2.1

# Utility / Tools
tqdm==4.67.1
pytest==8.2.1
